name: Build Arch ISO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    steps:
      - uses: actions/checkout@v3
      - run: pacman-key --init
      - run: pacman --noconfirm -Sy archlinux-keyring git
      - run: git clone https://gitlab.archlinux.org/archlinux/archiso.git
      - run: pwd
      - run: find .
